body {
    color: #3d3d3d;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.menu-icon:focus {
    outline: none;
}

.primary {
    color: #fff;
    background-color: #01579b;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.black-text {
    color: #000;
}

.primary:hover {
    color: #000;
}

.primary.active {
    color: #000;
}

.primary-light {
    color: #000;
    background-color: #4f83cc;
}

.primary-dark {
    color: #fff;
    background-color: #002f6c;
}

.secondary {
    color: #fff;
    background-color: #b71c1c;
}

.secondary-light {
    color: #000;
    background-color: #f05545;
}

.secondary-dark {
    color: #fff;
    background-color: #7f0000;
}

.my-btn-color {
    color: #FFFFFF;
    background-color: #F05545;
    border-color: #F05545;
}

.my-btn-color:hover,
.my-btn-color:focus,
.my-btn-color:active,
.my-btn-color.active,
.open .dropdown-toggle.my-btn-color {
    color: #FFFFFF !important;
    background-color: #b71c1c !important;
    border-color: #F05545 !important;
}

.my-btn-color:active,
.my-btn-color.active,
.open .dropdown-toggle.my-btn-color {
    background-image: none;
}

.my-btn-color.disabled,
.my-btn-color[disabled],
fieldset[disabled] .my-btn-color,
.my-btn-color.disabled:hover,
.my-btn-color[disabled]:hover,
fieldset[disabled] .my-btn-color:hover,
.my-btn-color.disabled:focus,
.my-btn-color[disabled]:focus,
fieldset[disabled] .my-btn-color:focus,
.my-btn-color.disabled:active,
.my-btn-color[disabled]:active,
fieldset[disabled] .my-btn-color:active,
.my-btn-color.disabled.active,
.my-btn-color[disabled].active,
fieldset[disabled] .my-btn-color.active {
    background-color: #F05545;
    border-color: #F05545;
}

.my-btn-color .badge {
    color: #F05545;
    background-color: #FFFFFF;
}

.card, .list-group-item, .list-group {
    border-radius: 0 !important;
}

.anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

.social div {
    color: #01579b;
    font-size: 0.9rem;
}

.social i {
    font-size: 60px;
}

.img-button {
    background: none;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
}

.img-button:focus, .img-button:active {
    outline: none !important;
    box-shadow: none !important;
}

.photo-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-center img {
    width: 500px;
}

.lead {
    margin-bottom: 0 !important;
    font-size: 1.1rem;
}

.link {
    color: #01579b;
}

.link:hover {
    text-decoration: none;
}

/* screens larger than 992px */
@media (min-width: 992px) {
    .social:hover, .social a:hover, .social a:hover div, .social:hover div {
        text-decoration: none;
        color: #FFF;
        background-color: #01579b;

    }
}

/* screens larger than 768px */
@media (min-width: 768px) {
    .carousel-item img {
        height: 400px;
    }

    .jumbotron {
        background-image: url("../images/headerImage.png");
        background-size: cover;
        border-radius: 0;
    }

    .caption {
        padding: 20px;
        background-color: black;
        opacity: 0.8;
    }

    .caption > p {
        color: #FFF;
        opacity: 1;
        text-align: center;
    }

    a.hyperlink:link, a.hyperlink:visited, a.hyperlink:hover, a.hyperlink:active {
        color: #FFF;
        text-decoration: underline;
    }

    .mobile-only {
        display: none;
    }

    .social a:hover {
        text-decoration: none;
    }
}

/* screens less than 768px (tablet & mobile) */
@media (max-width: 768px) {
    .jumbotron {
        background: white none;
        padding: 20px 0 0;
        margin: 0;
    }

    .hyperlink {
        color: #01579b;
    }
    a.hyperlink:link, a.hyperlink:visited, a.hyperlink:hover, a.hyperlink:active {
        color: #01579b;
        text-decoration: none;
    }

    .not-on-tablet {
        display: none;
    }

    .carousel-item img {
        height: 300px;
    }

    .social a:hover {
        text-decoration: none;
    }

    .social i {
        font-size: 40px;
    }

    .mobile-text-center {
        text-align: center;
    }

}

.material-icons.md-36 {
    font-size: 36px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
